<div class="container main-content coming_soon mt-5 pt-5">
    <div class="icon mb-4">
        <i class="fa fa-frown-o"></i>
    </div>
    <h1><span class="dot">Oops!</span> Page Not Found</h1>
    <p>Oops! The page you are looking for does not exit. It might have been moved or deleted</p>
    <div class="text-center mb-4">
        <button [routerLink]="['/mods']" class="btn btn-primary" type="submit">Go to Homepage</button>
        <!-- <button [routerLink]="['/timeline']" class="btn btn-primary" type="submit">Go to Homepage</button> -->
    </div>
    <div class="social">
        <a href="https://www.facebook.com/Rvmodshare-102595902166973/" target="_blank">
            <i class="fa fa-facebook mr-3" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC-VGbqJ1PCvjhwEORmo7UhQ" target="_blank">
            <i class="fa fa-youtube-play mr-3" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/rvmodshare/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
</div>