<div class="container mods_part mt-5 pt-5" >
    <div class="row">
      <div class="col-md-12 mt-3 search-results mt-5 "    >
        <div class="shadow mods_box mb-4"> 
          <div class="row loader">
            <div class="col-md-4 shine"> 
            </div>
            <div class="col-md-8 "  > 
                  <div class="col-md-6 p-0 mb-3">
                      <div class="shine"> 
                      </div>
                     </div> 
                <div class="col-md-12 pl-0">
                 <div class="shine"> 
                 </div>
                </div> 
                  <div class="row w-100 mt-3">
                      <div class="col-md-4 ">
                          <div class="shine">
    
                          </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="shine">
      
                            </div>
                          </div>
                          <div class="col-md-4 pr-0">
                              <div class="shine"> 
                              </div>
                            </div>
                    <div class="col-md-6 mt-3">
                      <div class="shine"> 
                      </div>
                    </div>
                    <div class="col-md-6 mt-3 pr-0">
                      <div class="shine"> 
                      </div>
                    </div>
                  </div>  
            </div>
           
           
          </div>
          
        </div>
      
      </div> 
    </div>
  </div> 

  <!-- full view loader -->

  <div class="container mods_part mt-5 pt-5" >
      <div class="row">
        <div class="col-md-12 mt-3 search-results mt-5 "    >
          <div class="shadow mods_box mb-4 p-3"> 
            <div class="row loader">
              
                    <div class="row w-100 mb-3" style="align-items: center;">
                      <div class="col-md-2">
                        <div class="shine" style="height: 80px; width:80px; border-radius: 50px;display: block;
                        margin: auto;"> 
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="col-md-6  mb-2">
                            <div class="shine"> 
                            </div>
                           </div> 
                           <div class="col-md-6  mb-2">
                              <div class="shine"> 
                              </div>
                            </div>
                            <div class="col-md-6  mb-3">
                                <div class="shine"> 
                                </div>
                              </div>
                             </div> 
                             <div class="col-md-1 ml-auto">
                                <div class="shine" style="height: 40px; width:40px;"> 
                                  </div>
                             </div>
                       </div> 
                       <div class="col-md-12 mb-3">
                          <div class="shine"> 
                            </div>
                       </div>
                  <div class="col-md-12" >
                   <div class="shine" style="height: 300px; width:100%;"> 
                   </div>
                  </div> 
                 
                  <div class="col-md-12  mt-3"  >
                      <div class="shine"> 
                      </div>
                     </div> 
                     <div class="col-md-6  mt-3"  >
                        <div class="shine"> 
                        </div>
                       </div>
                       <div class="col-md-6  mt-3"  >
                          <div class="shine"> 
                          </div>
                         </div>
            </div>
            
          </div>
        
        </div> 
      </div>
    </div> 

    <!-- chat loader -->

    <div class="container mods_part mt-5 pt-5" >
      <div class="row">
        <div class="col-md-12 mt-3 search-results mt-5 "    >
          <div class="shadow mods_box mb-4 p-3"> 
            <div class="row loader">
              
                    <div class="row w-100" style="align-items: center;">
                      <div class="col-md-2">
                        <div class="shine" style="height: 80px; width:80px; border-radius: 50px;display: block;
                        margin: auto;"> 
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="col-md-6  mb-2">
                            <div class="shine"> 
                            </div>
                           </div> 
                           <div class="col-md-8  mb-2">
                              <div class="shine"> 
                              </div>
                            </div>
                            <div class="col-md-12">
                                <div class="shine"> 
                                </div>
                              </div>
                             </div> 
                             <div class="col-md-1 ml-auto">
                                <div class="shine" style="height: 40px; width:40px;"> 
                                  </div>
                             </div>
                       </div> 
                      
                 
                 
                 
            </div>
            
          </div>
        
        </div> 
      </div>
    </div> 