.star:after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
  input.form-control {
    padding-right: 35px !important;
}
.form-logo {
    max-width: 110px;
    margin-bottom: 10px;
}

  .form-group{
    position: relative;
    .fa.fa-eye, .fa.fa-eye-slash{
      position: absolute;
      top: 42px;
      right: 13px;
      margin: 0;
    }
    .is-invalid{
      ~ .fa{
        display: none !important;
      }
    }
  }