<div class="bg-blue pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 col-lg-5">
                <!-- <h3 class="footer-heading">About Us</h3> -->
                <div class="footer-desc d-flex">
                    <a class="nav-link" routerLink="/terms-of-service"> Terms of Service</a>
                    <a class="nav-link" routerLink="/privacy-policy"> Privacy Policy</a>
                    <a class="nav-link" routerLink="/about-us"> About Us</a>
                    <a class="nav-link" routerLink="/contact-us"> Contact Us</a>


                </div>
            </div> 
            <div class="col-sm-4 col-lg-2 text-center">
                <!-- <img class="img-fluid logo" src="assets/img/rvmodshare.png"> -->
                <img class="img-fluid logo" src="assets/img/footer-beta-logo.png">
                <p class="mb-0 mt-2">Copyright {{date}} RVmodshare</p>
                <span>all right reserved.</span>
            </div>

            <div class="col-sm-3 col-lg-5 text-center">
                <div class=" social mt-4">
                    <a href="https://www.facebook.com/Rvmodshare-102595902166973/" target="_blank">
                        <i class="fa fa-facebook mr-3" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC-VGbqJ1PCvjhwEORmo7UhQ" target="_blank">
                        <i class="fa fa-youtube-play mr-3" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/rvmodshare/" target="_blank">
                        <i class="fa fa-instagram mr-3" aria-hidden="true"></i>
                    </a>
                    <!-- <i class="fa fa-twitter mr-3" aria-hidden="true"></i> -->

                </div>

            </div>

        </div>
    </div>
</div>