<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class='ajax-spinner-bars'>
    <div class='bar-1'></div>
    <div class='bar-2'></div>
    <div class='bar-3'></div>
    <div class='bar-4'></div>
    <div class='bar-5'></div>
    <div class='bar-6'></div>
    <div class='bar-7'></div>
    <div class='bar-8'></div>
    <div class='bar-9'></div>
    <div class='bar-10'></div>
    <div class='bar-11'></div>
    <div class='bar-12'></div>
    <div class='bar-13'></div>
    <div class='bar-14'></div>
    <div class='bar-15'></div>
    <div class='bar-16'></div>
  </div>  
  </ngx-spinner>

<div class="main-wrapper">
<app-sidebar></app-sidebar>
<div class="main-pannel">

    <div class="tz-2 tz-2-admin">
        <div class="tz-2-com tz-2-main">
            <h4 class="bg-primary text-light">Dashboard</h4>
            <div class="tz-2-main-com bot-sp-20">
                <div class="tz-2-main-1 tz-2-main-admin">
                    <div class="tz-2-main-2"> <span>Dummy Text</span>
                        <h2>asda</h2> </div>
                </div>
                <div class="tz-2-main-1 tz-2-main-admin">
                    <div class="tz-2-main-2"> <span>Dummy Text</span>
                        <h2>asdsa</h2> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>