<main class="main-pannel">
        <div class="container-fluid mt-5">
         <div class="row">
           <div class="col-md-3 p-0">
             <div class="box shadow bg-white p-3">
                <div class="d-flex">
                    <a routerLink="/home" >
                        <i title="Back" class="fa fa-arrow-left pt-1 mr-2" style="  font-size: 18px;line-height: 0.8" aria-hidden="true"></i> 
                    </a>
                    <h2><b>Modstores</b></h2>
                  </div>
                 <!-- <h2>Marketplace</h2> -->
                 <input type="text" class="form-control" placeholder="Search Groups">
                 <div class="d-flex mb-2 mt-2">
                     <i class="fa fa-home bg"></i> Browse all
                 </div>
                 <!-- <div class="d-flex mb-2">
                   <i class="fa fa-home bg"></i> Notification
               </div>
               <div class="d-flex mb-2">
                   <i class="fa fa-home bg"></i> Inbox
               </div>
               <div class="d-flex mb-2">
                    <i class="fa fa-home bg"></i> Your Account
                </div> -->
               <button class="btn btn-primary w-100"><i class="fa fa-plus"></i>Create New Listing</button>
               <hr />
               <h2>Category</h2>
               <div class="d-flex mb-2 mt-2">
                    <i class="fa fa-home bg"></i> Vehicles
                </div>

              <div class="d-flex mb-2">
                   <i class="fa fa-home bg"></i> Classifieds
               </div>
               <div class="d-flex mb-2">
                    <i class="fa fa-home bg"></i> Electronics
                </div>
                <div class="d-flex mb-2">
                        <i class="fa fa-home bg"></i> Entertainment
                    </div>
                                            <div class="d-flex mb-2">
                                                    <i class="fa fa-home bg"></i> Office Supplies
                                                </div>

                 </div>
             </div>
         <div class="col-md-9">
         <div class="p-3 mb-3">
         <h4 class="heading pt-1">Today's Picks</h4>
         <!-- <p>Groups you might br interested in.</p> -->
         <div class="row mt-2">
                 <!-- <div class="mb-3 p-3 w-100">
                           <div class="sliders row">
                               <a [routerLink]="['/page/group-details']">
                               <div class="col-md-2 p-0">
                               <img class="list-img mx-auto" src="assets/img/gethring.jpg">
                               </div>
                               <div class="col-md-10 p-0">
                                   <p class="email m-0">This is a Vanmodsy
                                       </p>
                                     <small>41.5K Members</small>
                                   </div>
                                   </a>
                           </div> 
                           <div class="sliders row">
                               <a [routerLink]="['/page/group-details']">
                                 <div class="col-md-2">
                                 <img class="list-img" src="assets/img/gethring.jpg">
                                 </div>
                                 <div class="col-md-10 p-0">
                                     <p class="email m-0">This is a Vanmodsy
                                         </p>
                                       <small>41.5K Members</small>
                                     </div>
                                     </a>
                             </div> 
                             <div class="sliders row">
                               <a [routerLink]="['/page/group-details']">
                                     <div class="col-md-2">
                                     <img class="list-img" src="assets/img/gethring.jpg">
                                     </div>
                                     <div class="col-md-10 p-0">
                                         <p class="email m-0">This is a Vanmodsy
                                             </p>
                                           <small>41.5K Members</small>
                                         </div>
                                       </a>
                                 </div> 
                                 <div class="sliders row">
                                         <div class="col-md-2">
                                         <img class="list-img" src="assets/img/gethring.jpg">
                                         </div>
                                         <div class="col-md-10 p-0">
                                             <p class="email m-0">This is a Vanmodsy
                                                 </p>
                                               <small>41.5K Members</small>
                                             </div>
             
                                     </div> 
                             <div class="sliders row">
                                     <div class="col-md-2">
                                     <img class="list-img" src="assets/img/gethring.jpg">
                                     </div>
                                     <div class="col-md-10 p-0">
                                         <p class="email m-0">This is a Vanmodsy
                                             </p>
                                           <small>41.5K Members</small>
                                         </div>
         
                                 </div> 
                         </div> -->
                         <div class="col-md-3">
                             <div class="shadow bg-white">
                              
                             <div class="img">
                                 <img class="product-img" src="assets/img/2.jpg">
                                
                             </div>
                             <div class="mt-2 p-2">
                                 <a routerLink="/market-place-details">
                                    <p class="mb-1">$ 54</p>
                                     <p class="mb-0">The Great Indian Biographies</p>
                                     <small>Usa, kingdome</small>
                                     </a>
                                     <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                             </div>
                           
                           </div>
                         </div>
                         <div class="col-md-3">
                                <div class="shadow bg-white">
                                 
                                <div class="img">
                                    <img class="product-img" src="https://www.shivshaktibodyworks.com/uploads/product/1555153013-mobile.jpg">
                                   
                                </div>
                                <div class="mt-2 p-2">
                                    <a routerLink="/market-place-details">
                                       <p class="mb-1">$ 54</p>
                                        <p class="mb-0">The Great Indian Biographies</p>
                                        <small>Usa, kingdome</small>
                                        </a>
                                        <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                                </div>
                              
                              </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="shadow bg-white">
                                     
                                    <div class="img">
                                        <img class="product-img" src="https://www.shivshaktibodyworks.com/uploads/product/1555153013-mobile.jpg">
                                       
                                    </div>
                                    <div class="mt-2 p-2">
                                        <a routerLink="/market-place-details">
                                           <p class="mb-1">$ 54</p>
                                            <p class="mb-0">The Great Indian Biographies</p>
                                            <small>Usa, kingdome</small>
                                            </a>
                                            <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                                    </div>
                                  
                                  </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="shadow bg-white">
                                         
                                        <div class="img">
                                            <img class="product-img" src="assets/img/2.jpg">
                                           
                                        </div>
                                        <div class="mt-2 p-2">
                                            <a routerLink="/market-place-details">
                                               <p class="mb-1">$ 54</p>
                                                <p class="mb-0">The Great Indian Biographies</p>
                                                <small>Usa, kingdome</small>
                                                </a>
                                                <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                                        </div>
                                      
                                      </div>
                                    </div>
         </div>
       </div>
       <hr />
       <div class="p-3 mb-3">
         <h4 class="heading pt-1">Vanders</h4>

         <!-- <p>Groups you might br interested in.</p> -->
         <div class="row mt-3">
   
                         <div class="col-md-3">
                           <div class="shadow bg-white">
                           <div class="img">
                               <img class="product-img" src="assets/img/2.jpg">
                              
                           </div>
                           <div class="mt-2 p-2">
                               
                                   <p class="mb-0">The Great Indian Biographies</p>
                                   <small>16k members * 4 posts a week</small>
                                   <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                           </div>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="shadow bg-white">
                         <div class="img">
                             <img class="product-img" src="assets/img/2.jpg">
                            
                         </div>
                         <div class="mt-2 p-2">
                             
                                 <p class="mb-0">The Great Indian Biographies</p>
                                 <small>16k members * 4 posts a week</small>
                                 <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                         </div>
                       </div>
                     </div>
                     <div class="col-md-3">
                       <div class="shadow bg-white">
                       <div class="img">
                           <img class="product-img" src="assets/img/2.jpg">
                          
                       </div>
                       <div class="mt-2 p-2">
                           
                               <p class="mb-0">The Great Indian Biographies</p>
                               <small>16k members * 4 posts a week</small>
                               <!-- <button class="btn btn-primary w-100 mt-4">Join Group</button> -->
                       </div>
                     </div>
                   </div>
         </div>
       </div>
   </div>
   <!-- <div class="col-md-3">
                 <div class="shadow mb-3 p-3">
                     <div class="d-flex">
                           <h4 class="heading pt-1">Sponsored </h4>
                           <span class="green"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
                     </div>
                      
                       <div class="slider row">
                          
                           <div class="col-md-4 pr-0">
                                   <img class="img-responsive" src="assets/img/gethring.jpg">
                           </div>
                           <div class="col-md-8 ">
                               <p class="email m-0">This is a Vanmodsy
                                   </p>
                                 <small>Lorem Ipsum is simply dummy text of the printing?</small>
                               </div>

                       </div> 
                     </div>


                     
      </div> -->
     </div>
   </div>
 </main>