<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let item of firendsList">
            <div class="shadow bg-white p-2 mb-3">
                <div class="box-img">
                    <img class="friend-img" *ngIf="!item.followFriendIDDetails.image" src="assets/img/user.png" alt="">
                    <img class="friend-img" *ngIf="item.followFriendIDDetails.image"
                        src="{{_host}}{{item.followFriendIDDetails.image}}" alt="">
                    <!-- <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.6435-1/86720033_127787138769753_6910259292981428224_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=7206a8&_nc_ohc=5SmIt_tC1fcAX-LWYwu&_nc_ht=scontent.fluh1-1.fna&oh=9ca8fff2e0a0a85f48d9575335290a70&oe=61A1BD0B" alt=""> -->
                </div>
                <div class="p-2 text-center">
                    <strong>{{item.followFriendIDDetails.fullName}}</strong> <br />
                    <button class="btn btn-primary mt-2 mr-2 pl-4 pr-4" (click)="route(item.followFriendID)">View
                    </button>
                    <button class="btn btn-warning mr-2 mt-2" *ngIf="item.isPending">Pending</button>
                    <button class="btn btn-primary mr-2 mt-2" *ngIf="!item.isFriend && !item.isPending"
                        (click)="addFriend(item.followFriendID)"><img class="follow-img"
                            src="assets/img/add-plus-svgrepo-com.svg" alt=""> Request Social Connection</button>
                    <button class="btn btn-primary mt-2" *ngIf="item.isFriend"
                        (click)="unFriend(item.followFriendID)"><img class="follow-img"
                            src="assets/img/delete-user-svgrepo-com.svg" alt=""></button>
                    <!-- <button class="btn btn-primary mt-2" *ngIf="!item.followFriendIDDetails.isFollow" (click)="followFriend(item?.followFriendID)"><i class="fa fa-user-plus mr-1"></i>Follow Mods</button> -->
                    <!-- <button class="btn btn-primary mt-2" *ngIf="item.followFriendIDDetails.isFollow" (click)="followFriend(item?.followFriendID)"><i class="fa fa-user-plus mr-1"></i>Unfollow Mods</button> -->
                    <button class="btn btn-primary mt-2" (click)="followFriend(item?.followFriendID)"><i
                            class="fa fa-user-plus mr-1"></i>Unfollow Mods</button>
                </div>
            </div>
        </div>

    </div>
</div>