<div class="modal-body text-center">
    <img src="assets/img/success.png" class="sucess-icon" alt="">
    <h2 class="heading-modal">Thanks for requesting an invite!</h2>
    <p class="desc-modal">As soon as alpha testing is complete and we are ready for the official beta launch, you will be notified by email. </p>
    <p class="desc-modal">Keep an eye out for progress emails and follow us to stay in touch. </p>
    <div class="icon-setting">
      
        <span class="insta">
          <a style="outline-width: inherit !important; outline:none !important;" class="outline-none"  href="https://www.instagram.com/rvmodshare/" target="_blank" title="Instagram">
          <i class="fa fa-instagram" aria-hidden="true" title="Instagram"></i></a>
        </span>
        <span class="face">
          <a href="https://www.facebook.com/Rvmodshare-102595902166973/" target="_blank" title="Facebook">
          <i class="fa fa-facebook" aria-hidden="true"></i>  </a></span>
       
   
</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary w-100" (click)="close()">OK</button>
</div>