<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class='ajax-spinner-bars'>
        <div class='bar-1'></div>
        <div class='bar-2'></div>
        <div class='bar-3'></div>
        <div class='bar-4'></div>
        <div class='bar-5'></div>
        <div class='bar-6'></div>
        <div class='bar-7'></div>
        <div class='bar-8'></div>
        <div class='bar-9'></div>
        <div class='bar-10'></div>
        <div class='bar-11'></div>
        <div class='bar-12'></div>
        <div class='bar-13'></div>
        <div class='bar-14'></div>
        <div class='bar-15'></div>
        <div class='bar-16'></div>
    </div>
</ngx-spinner>

<main style="background-image: url('assets/img/hero-image-text-left-darker.jpg');" class="bgCover wrapper">
    <section class="container">
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" class="form__container shadow">

            <h4 class="text-center mb-3">Reset password!</h4>

            <div class="form__input mb-3">
                <input type="text" formControlName="code" name="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }" class="form-control" placeholder="Code *"
                    autocomplete="new-password">
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                    <div *ngIf="f.code.errors.required">Code is required</div>
                </div>
            </div>
            <div class="form__input password mb-3">
                <input [type]="newPassTextType ? 'text' : 'password'" formControlName="newPassword" name="newPassword"
                    autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                    class="form-control" placeholder="New password *">
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">Password is required</div>
                    <div *ngIf="f.newPassword.errors?.pattern">Use 8 or more characters
                        with a mix of letters, numbers & symbols</div>
                    <div *ngIf="f.newPassword.errors.minlength">
                        Password must be at least 8 characters long.
                    </div>
                </div>
                <span class="fa" [ngClass]="{
            'fa-eye-slash': !newPassTextType,
            'fa-eye': newPassTextType
          }" (click)="toggleNewPassword()"></span>
            </div>
            <div class="form__input password mb-3">
                <input [type]="cnfmPassTextType ? 'text' : 'password'" class="form-control"
                    formControlName="confirmPassword" autocomplete="new-password" name="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    placeholder="Confirm password *">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password
                    </div>
                </div>
                <span class="fa" [ngClass]="{
            'fa-eye-slash': !cnfmPassTextType,
            'fa-eye': cnfmPassTextType
          }" (click)="toggleCnfmPassword()"></span>
            </div>

            <div class="form__input text-right">
                <input type="submit" class="btn btn-primary" name="Submit" value="Submit">
            </div>
        </form>
    </section>
</main>