<div class="rewards-wrap mt-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h2>Earn RVmodshare Points, Redeem For Rewards!!</h2>
              <img src="" alt="" />
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              <!-- <div class="btn-wrap" (click)="route('/auth/login-signup')">
                <button class="btn btn-success cus-btn">Sign up Now!</button>
                <a>Already a Member? Sign In</a>
              </div> -->
          </div>
      </div>
  </div>
  <div class="mob-app  mob-app1 center-banner">
      <div class="container">
          
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center" data-aos="zoom-in-up">
            <h2>How Do RVmodshare Points Work?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-8" data-aos="zoom-in-right">
          <div class="point-wrap">
            <h3><span><img src="assets/img/testimonial.png" alt="" /> </span>Earn {{object['product']}} Points</h3>
            <h5>What is Lorem Ipsum?</h5>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>A customer review can be very helpful assisting both new and </li>
              <li>seasoned users to make more informed decisions.</li>
            </ul>
          </div>
          
          <div class="point-wrap">
            <h3><span><img src="assets/img/branding.png" alt="" /> </span>Earn  Points</h3>
            <h5>Where does it come from?</h5>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy pesetting industry.</li>
              <li>provide valuable feedback to business owners to either help them</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            </ul>
          </div>

          <div class="point-wrap">
            <h3><span><img src="assets/img/present.png" alt="" /></span> Redeem your Points</h3>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4" data-aos="zoom-in-left">
            <a class="mt-5 pt-5">
                <div class="badges"><br>
                    <p>
                        <span class="firstLine">GET UP TO</span><br>
                        <span class="secondLine">230</span><br>
                        <span class="thirdLine">Points</span><br>
                        <span class="fourthLine">POPULAR</span>
                    </p>
                </div>
                </a>
        </div>
      </div>
      <div class="row text-center" > 
        <div class="col-sm-12">
          <h2>View your reward Points.</h2>

          <a  class="btn btn-primary">Click here!</a>
        </div>
      </div>
  </div>
</div>
