

<div class="container mt-5 pt-5" >
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <img src="http://74.208.206.18:4020/images/users/473446f6-22f6-4351-b8ab-36684572717a1635152644813.jpeg" class="img" >
                <h5 class="card-title">Palak Kumari</h5><br>
                
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
        
    </div>
   
  </div>
