.img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.card{
    border-radius: 1rem;
    height: 11rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card-title{
    position: absolute;
    right: 8rem;
    top: 29px;
}

