<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class='ajax-spinner-bars'>
    <div class='bar-1'></div>
    <div class='bar-2'></div>
    <div class='bar-3'></div>
    <div class='bar-4'></div>
    <div class='bar-5'></div>
    <div class='bar-6'></div>
    <div class='bar-7'></div>
    <div class='bar-8'></div>
    <div class='bar-9'></div>
    <div class='bar-10'></div>
    <div class='bar-11'></div>
    <div class='bar-12'></div>
    <div class='bar-13'></div>
    <div class='bar-14'></div>
    <div class='bar-15'></div>
    <div class='bar-16'></div>
  </div>  
  </ngx-spinner>

<main style="background-image: url('assets/img/hero-image-text-left-darker.jpg');" class="wrapper">
  <section class="container">

    <!-- <h2>User Login System</h2> -->
    <form [formGroup]="forgotForm" class="form__container shadow" (ngSubmit)="onSubmit()">
      <h4 class="text-center mb-3">Forgot Password</h4>
      <div class="formgroup">
        <input type="text" name="email" formControlName="email" placeholder="Email" class="mb-0"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <!-- <span>enter your email</span> -->
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback mt-2">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>


      <div class="text-right">
        <a class="btn btn-secondary mr-2" [routerLink]="['/auth/login']">Cancel</a>
        <button class="btn btn-primary">Send</button>

      </div>


    </form>

  </section>
</main>