<div class="picsum-img-wrapper bgAfter mt-5 pt-5 main-content">
    <div class="container">
    <!-- <img class="imgSize" src="assets/img/mission.jpg" alt="Random first slide"> -->
    <div class="pos-top">
        <h1 class="top-Headign">Our Mission</h1>
        <h2 class="bottom-desc">To make it easy for RV enthusiasts to discover and share mods, experiences, connect and learn</h2>
      </div>
    </div>
  </div>
  
<div class="how_started py-5">
<div class="container ">
        
            
         
             <div class="row bg mt-5 pt-5">
                 <div class="col-md-4">
                    <img class="w-100 started" src="assets/img/started.jpg" alt="Random first slide">
                    <p class="star-pag text-center mt-3">Dave & Cheri Holdan</p>
                 </div>
                 <div class="col-md-8">
                     <h2>How It Started </h2>
                     <p class="star-pag">Born from Dave and Cheri Holdan’s frustration while researching mods for their RV across disorganized online forums and groups. Clear, consistent information and instructions were rarely available.</p>
                     <p class="star-pag">They wished there was one place they could go to learn about the interesting ways others modded their RVs. </p>
                     <p class="star-pag">Dave got to work building a team to design and begin developing the RVmodshare platform, but lacked the knowledge that comes from years of hands on modding and social media experience. </p>
                     <p class="star-pag">Dave knew he needed advisors who could guide the team on developing the most valuable features and functionality that a modder would need. </p>
                 </div>
             </div>
        

                <div class="row bg align-items-center mt-3">
                   
                    <div class="col-md-6">
                        <p class="star-pag">Dave pitched the idea to the Internet’s most renowned modding couple, James and Stef Adinaro from The FitRV <a target="_blank" href="http://www.thefitrv.com">www.thefitrv.com.</a> They loved the idea and have been helping to shape the vision of the platform.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="w-100 " src="assets/img/client5.jpg" alt="Random first slide">
                        <p class="star-pag text-center mt-3">Stef & James Adinaro</p>
                     </div>
                </div>
  
                <div class="row imagesPadding">
                    <div class="col-md-6">
                            <img class="w-100 about mb-4" src="assets/img/aboutclient1.png" alt="Random first slide">
                       <!-- <p class="star-pag text-center mt-3">Stef & James Adinaro</p> -->
                    </div>
                    <div class="col-md-6">
                            <img class="w-100 about1 mb-4" src="assets/img/aboutClinet.png" alt="Random first slide">
                        <!-- <p class="star-pag">Dave pitched the idea to the Internet’s most renowned modding couple, James and Stef Adinaro from The FitRV www.thefitrv.com. They loved the idea and have been helping to shape the vision of the platform.</p> -->
                    </div>
                </div>
        
</div>
</div>


<!-- 
        <div class="container mt-5 pt-5">
            <div class="row mb-5">
                <div class="col-md-12 mb-4">
                <div class="shadow d-flex" style="align-items: center">
                    <div class="col-md-6 pl-0">
                        <img src="assets/img/client.jpg" class="w-100 main" alt="">
                    </div>
                <div class="col-md-6">
                    <h4>How it started </h4>
                    <p>The vision for RVmodshare was born from Dave and Cheri Holdan’s frustration while researching mods for their first RV across disorganized online forums and groups.  Clear, consistent information and instructions were rarely available. </p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="shadow d-flex" style="align-items: center">
               
            <div class="col-md-6">
                <p>They learned a lot about RV life and the nuances of modding but experienced the pain again while researching their 2nd RV.  They wished there was one place they could go to learn about the interesting ways others modded their RVs. </p>
              

            </div>
            <div class="col-md-6 pr-0">
                <img src="assets/img/client1.jpg" class="w-100 main" alt="">
            </div>
        </div>
    </div>

    <div class="col-md-12 mb-4">
        <div class="shadow d-flex" style="align-items: center">
            <div class="col-md-6 pl-0">
                <img src="assets/img/client2.jpg" class="w-100 main" alt="">
            </div>
        <div class="col-md-6">
    
           
            <p>Dave got to work building a team to design and begin developing the RVmodshare platform, but lacked the knowledge that comes from years of hands on modding and social media experience.  Dave knew he needed advisors who could guide the team on developing the most valuable features and functionality that a modder would need. </p>
    
        </div>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="shadow d-flex" style="align-items: center">
      
    <div class="col-md-6">
        
   
        <p>Dave pitched the idea to the Internet’s most renowned modding couple, James and Stef Adinaro from The FitRV www.thefitrv.com.  They loved the idea and have been helping to shape the vision of the platform. </p>
    </div>
    <div class="col-md-6 pr-0">
        <img src="assets/img/client3.jpg" class="w-100 main" alt="">
    </div>
</div>
</div>

<div class="col-md-12 mb-4">
    <div class="shadow d-flex" style="align-items: center">
        <div class="col-md-6 pl-0">
            <img src="assets/img/client4.jpg" class="w-100 main" alt="">
        </div>
    <div class="col-md-6">
            <div class="text-center">
                    <h2>Our Goals</h2>
                </div>
                <h4>Unite </h4>
                <p>Through our community we connect and support RV lovers </p>
                <h4>Educate  </h4>
                <p>We strive to inspire our members to create their best RV life through our community content and connections </p>
                <h4>Stimulate  </h4>
                <p>We are on a mission to spark ideas and innovative solutions that fuels our members wanderlust </p>
                <h4>Simplify  </h4>
                <p>Through a single community platform, we support our members throughout their RV life journey  </p>
            
    </div>
  
</div>
</div>

<div class="col-md-12 mb-4">
        <div class="shadow d-flex" style="align-items: center">
              
        <div class="col-md-6">
                <div class="text-center">
                        <h2>Our Mission </h2>
                        <p>To make it easier for current or wannabe RV owners to discover and share mods, connect, learn and share experiences </p>
                    </div>
        </div>
        <div class="col-md-6 pl-0">
            <img src="assets/img/client5.jpg" class="w-100 main" alt="">
        </div>
    </div>
    </div>
  
                                     
            </div>
            </div> -->