<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="box shadow p-3 bg-white">
                <h2 class="heading mb-3">Resend confirmation instructions</h2>
                <form>
                    <label>E-mail address</label>
                    <input type="text" class="form-control" placeholder="" />
                    <button class="btn btn-primary mt-3 w-100">Resend confirmation instructions</button>
                </form>     
                <hr />
                <div class="bottom text-center">
                <a class="mr-3" [routerLink]="['/auth/login']">log in</a>
                <a class="mr-3" [routerLink]="['/auth/signup']">Sign up</a>
                <a  [routerLink]="['/auth/forgot']">Forgot your password?</a>    
            </div>      
            </div>
        </div>
    </div>
</div>