<!-- <div class="container-fluid mt-5 pt-1">
    <div class="row ">
        <div class="d-flex align-item-center w-100">
                <div class="col-md-6 pl-0">
                        <img src="assets/img/contect.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h1 class="heading-earn mt-5">Earn <span class="gradient">Points Badges</span> and <span class="gradient">Rewards!</span></h1>
                        <div class="bottom d-flex mt-4">
                            <h2>Earn points by <br >
                                participating in the<br >
                                community.</h2>
                                <img class="sideIMG" src="assets/img/sideimg.png" alt="">
                        </div>
                    </div>
        </div>
        
        <div class="col-md-12 p-4">
            <p class="descContest">The points you earn will accumulate towards your community<span class="blueColor"> ranking</span><span class="greenColor"> and badges</span>
                that recognize your modding, social and community
                contributions. 
            </p>
            <p class="descContest">As your ranking progresses you will earn awesome <span class="blueColor"> Rvmodshare</span><span class="greenColor"> rewards.</span>
                Make sure you complete your profile address so we can ship
                your rewards. 
            </p>
            <p class="descContest">More rewards will be included from our partners as our community
                grows and your ranking will also give you partner discounts and perks. </p>
        </div>
        <div class="row align-item-center">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="d-flex">
            <div class="boxGradient">
                <h4>Our first <span class="yellow-color">500</span> members will
                    receive a unique founding
                    members badge to recognize
                    your early support of the
                    community. </h4>
            </div>
            <img class="badgesIcon" src="assets/img/badge.png" alt="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="border-dooted">
                <h4 class="blueColor">The badges will also entitle you to exclusive discounts and perks.</h4>
            </div>
        </div>
    </div>


   
            <div class="col-md-6" style="padding-left:6rem;">
                <h1 class="pointsCls">HOW POINTS</h1>
                <h1 class="pointsCls mt-0"><span class="gradient underLine">WORK</span></h1> 
            </div>
            <div class="col-md-6 text-right pr-0">
                <img class="roundedImg" src="assets/img/rounded.png" alt="">
            </div>
            <div class="row mt-Cls w-100">
            <div class="col-md-6">
                <div class="boxBG-Image">
                    <h6 class="alignmentText">Your badge rank color <br />
                            level will change as you <br />
                            earn points by engaging <br />
                            in the community</h6>
                    <div class="row centerAlign">
                        <div class="col-md-3">
                            <img class="Icon-bg" src="assets/img/ICON.png" alt="">
                            <div class="boxGradient shadow">
                                <h4>Modder
                                    Points</h4>
                                    <hr />
                                    <p>Green <span>:50</span></p>
                                    <p>Blue <span>:50</span></p>
                                    <p>Red <span>:50</span></p>
                                    <p>Black <span>:50</span></p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-left: -10px;">
                                <img class="Icon-bg" src="assets/img/ICON.png" alt="">
                                <div class="boxGradient shadow">
                                    <h4>Networker
                                            Points</h4>
                                        <hr />
                                        <p>Green <span>:50</span></p>
                                        <p>Blue <span>:50</span></p>
                                        <p>Red <span>:50</span></p>
                                        <p>Black <span>:50</span></p>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-left: -10px;">
                                    <img class="Icon-bg" src="assets/img/ICON.png" alt="">
                                    <div class="boxGradient shadow">
                                        <h4>Ambassador
                                                Points</h4>
                                            <hr />
                                            <p>Green <span>:50</span></p>
                                            <p>Blue <span>:50</span></p>
                                            <p>Red <span>:50</span></p>
                                            <p>Black <span>:50</span></p>
                                    </div>
                                </div>
                    </div>
                </div>
              
            </div>
            <div class="col-md-6">
                <div class="badgesIcon">
                    <div class="d-block">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                    </div>
                    <div class="d-block">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                    </div>
                    <div class="d-block">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                    </div>
                    <div class="d-block">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                    </div>
                  
                </div>

                <div class="badgesIcon mt-5 pt-5">
                        <div class="d-block">
                                <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                        </div>
                        <div class="d-block">
                                <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                        </div>
                        <div class="d-block">
                                <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                        </div>
                        <div class="d-block">
                                <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                        </div>
                      
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="text-center">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                            <img class="badgesIconRight" src="assets/img/contest-bages.png" alt="">
                        </div>
            </div>
        </div>
    </div>
 
</div>

<div class="banner-bg">
     
        <img class="roundedImg right-Align" src="assets/img/rounded.png" alt="">
        <div class="row w-100">
            <div class="col-md-1"></div>
            <div class="col-md-4 vertical-center">
            <h1 class="community">Your Community rank <br />will go up as you earn </h1>
            <h1 class="community"><span class="greenBold">points and rewards</span></h1>
        </div>
        </div>
    </div>
    <img class="overlapImg" src="assets/img/rounded-top.png" alt=""> 
<div class="container-fluid">
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Community Rank</th>
                <th scope="col">Rank Icon</th>
                <th scope="col">Points</th>
                <th scope="col">RVmodshare Reward</th>
                <th scope="col">Reward Image</th>
                <th scope="col">Partner Reward </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Rookie</th>
                <td>  <img class="badgesIconRight" src="assets/img/contest-bages.png" alt=""></td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">Trainee </th>
                <td>  <img class="badgesIconRight" src="assets/img/contest-bages.png" alt=""></td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">Apprentice</th>
                <td >  <img class="badgesIconRight" src="assets/img/contest-bages.png" alt=""></td>
                <td>@twitter</td>
                <td ></td>
                <td>@twitter</td>
                <td>@mdo</td>
              </tr>
              <tr>
                    <th scope="row">Expert </th>
                    <td>  <img class="badgesIconRight" src="assets/img/contest-bages.png" alt=""></td>
                    <td>@twitter</td>
                    <td ></td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                        <th scope="row">Master</th>
                        <td>  <img class="badgesIconRight" src="assets/img/contest-bages.png" alt=""></td>
                        <td>@twitter</td>
                        <td ></td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                      </tr>
            </tbody>
          </table>
          </div>

          <div class="Mountain">
              <div class="rightCorner">
               <h3>Earn Points <i>towards</i> your <span class="yellow-color">Modder, Networker </span> and <span class="yellow-color">Ambassador</span> badges when these actions <i> happen.</i></h3>
              </div>
          </div>
          <div class="container-fluid ph" style="  position: relative;
          bottom: 12rem;">
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4 pbCls">
                      <div class="border-blue">
                            ACTIONS
                      </div>
                      <p><b>Post a mod </b></p>
                      <p><b>Receive a follow mods request </b></p>
                      <p><b>Follow a member's mods </b></p>
                      <p><b>Like a member’s mod </b></p>
                      <p><b>Receive a like for your mod </b></p>
                      <p><b>Share another member’s mod </b></p>
                      <p><b>Another member shared your mod </b></p>
                      <p><b>Comment on a mod</b></p>
                  </div>
                  <div class="col-md-1 text-center pbCls">
                        <div class="border-blue">
                                POINTS
                            </div>
                            <p><b> 5 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 1 </b></p>
                  </div>
                  <div class="col-md-3 pr-0">
                   <img class="trangleRight" src="assets/img/trangle.png" alt="">
                  </div>
                </div>
                  <hr />
                <div class="row">
                  <div class="col-md-4">
                        <img class="trangleleft" src="assets/img/networker.png" alt="">
                  </div>
                  <div class="col-md-4 pbCls">
                      <p><b>Request to connect with a member </b></p>
                      <p><b>Receive connection request </b></p>
                      <p><b>Create a group</b></p>
                      <p><b>Join a group </b></p>
                      <p><b>Like a group post </b></p>
                      <p><b>Comment on a group post</b></p>
                      <p><b>Receive a like on your group post </b></p>
                      <p><b>Create a social post</b></p>
                      <p><b>Like a social post</b></p>
                      <p><b>Receive a like on your social post</b></p>
                      <p><b>Share a social post</b></p>
                      <p><b>Receive a social post share</b></p>
                      <p><b>Comment on a social post</b></p>
                  </div>
                  <div class="col-md-1 text-center pbCls">
                    
                            <p><b> 5 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 1 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 2 </b></p>
                            <p><b> 1 </b></p>
                  </div>
                  <div class="col-md-3 pr-0">
                 
                  </div>
              </div>
              <hr />
              <div class="row">
                    <div class="col-md-4">
                         
                    </div>
                    <div class="col-md-4 pbCls">
                        <p><b>Invite a friend to the community
                            </b></p>
                        <p><b>Friend joins the community </b></p>
                
                    </div>
                    <div class="col-md-1 text-center pbCls">
                      
                              <p><b> 1 </b></p>
                              <p><b> 10 </b></p>
                      
                    </div>
                    <div class="col-md-3 pr-0">
                            <img class="trangleRight" src="assets/img/ambassador.png" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <img class="RVLOGO" src="assets/img/RVLogo.png" alt="">
                </div>
          </div> -->

<app-coming-soon></app-coming-soon>