img.img-responsive.high {
  /* width: 320px;
  height: 250px; */
    /* -o-object-fit: contain;
    object-fit: contain; */
    border-radius: 5px;
    /* margin: 1rem 0rem; */
  }
    .footer-section{
      display: none !important;
    }
  .col-md-12.overFlow {
  overflow: hidden;
  width: 100%;
  }
  .footer-section.p-2 a {
    color: #777;
    margin: 0px 10px;
  }
  .mb-2.bg-white.p-3.mt-0 {
    border-radius: 10px;
  }
  .ad_box .ad_img img {
    /* height: 250px; */
    -o-object-fit: cover;
    object-fit: cover;
    width: 320px;
  }
  .ad_box .ad_img, .right_side_sponsors a {
    text-align: center;
    display: block;
  }  

  .right_side_sponsors {
    max-width: 320px;
    margin: 0px auto;
  }

  @media(max-width: 991px){
    img.img-responsive.high{
      height: auto;
    }
  }

  @media(max-width:767px){
  
  /* img.img-responsive.high {
    width: 100%;
    height: auto;
  } */
  .right_side_sponsors {
  display: none;
  }
  .footer-section {
    text-align: center;
}
.footer-section br {
  display: none;
}

}